body {
    text-align: center;
    background-color: rgb(21, 68, 139);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(42, 151, 84);
}

img {
    border: 3px solid white;
    border-radius: 20px 20px 20px 20px;
}